<strong>Olá, {{ manager }}</strong>
<p>Houve uma inscrição em um Meetapp, confira os detalhes abaixo:</p>
<p>
    <strong>Participante: </strong> {{user}} <br />
    <strong>Evento</strong> {{ title }} <br />
    <strong>Local</strong> {{ localization }} <br />
    <strong>Data</strong> {{ date }} <br />
    <br />
</p>
